
.vscode/launch.json
.vscode/tasks.json
digits.model/fingerprint.pb
*.pb
*.pb
digits.model/saved_model.pb
digits.model/keras_metadata.pb
digits.model/saved_model.pb
digits.model/variables/variables.data-00000-of-00001
digits.model/variables/variables.index
*.py
